extend layout/main

block tdk
  -
    var tdk = {
      title: '公司优势- 纳科达',
      description: '纳科达是一家TPU聚氨酯薄膜生产厂家，TPU隐形车衣生产厂家，PPF漆面保护膜生产厂家，具有优质的原料，设备，工艺，配套，团队',
      keywords: '纳科达的优势'
    }

block content
  //  Page Intro 
  section#inner-intro.inner-intro.bg-image.overlay-dark40.dark-bg.parallax.parallax-background2(data-background-img='/img/full/advantage-02.jpg')
    .container
      .intro-content
        .intro-content-inner
          h1 我们的优势
          h5.alt-title.intro-sub-title Our Advantage
  //  End Page Intro 

  //  About Section 
  section.section-padding
    .container
      .row
        .col-md-4.content-box.mb-45
          .alt-icon-top.alt-icon-color
            i.icon-mobile
          h4.alt-title 原料
          p 
            | 高性能TPU原料粒子的供应:
            | 锁定全球优质的耐老化TPU原料粒子供应商
          p
            | 高性能TPU原料粒子鉴别能力:
            | 聚酯、聚醚、聚已内酯、聚碳酸脂等体系复杂

        .col-md-4.content-box.mb-45
          .alt-icon-top.alt-icon-color
            i.icon-layers
          h4.alt-title 设备
          p 
            b 先进设备整套进口: 
            | 整套全进口TPU薄膜生产设备
          p 
            b 非标设备: 
            | 自主设计\设备定制\持续优化完善
          p 
            b 生产规模：
            | 一、二号线已投产，每条生产线设计产能40万米／月。

        .col-md-4.content-box.mb-45
          .alt-icon-top.alt-icon-color
            i.icon-gears
          h4.alt-title 工艺
          p 设备改造完善: 所有设备都是为工艺服务
          p 原料物性掌握: 工艺和设备均为特定的材料服务
        
        .col-md-4.content-box.mb-45
          .alt-icon-top.alt-icon-color
            i.icon-refresh
          h4.alt-title 配套
          p 
            b 自修复涂层：
            | 自主研发配套的自修复涂料
          p 
            b TPU基膜：
            | 高品质进口原材料配合先进的全进口生产线
          p 
            b 胶水：
            | 美国亚什兰
          p 
            b 配套：
            | 支持TPU薄膜个性化生产的配套能力(如炫彩、颜色、功能性等配套材料自主研发)

        
        .col-md-4.content-box.mb-45
          .alt-icon-top.alt-icon-color
            i.icon-document
          h4.alt-title 团队
          p 热塑性弹性体高分子专家、机械设备专家、涂布工程师、生产工艺团队
          p 原料实验—试验机测试—大线生产—下游涂布反馈-生产端设备改造完善、工艺调整

        
        .col-md-4.content-box.mb-45
          .alt-icon-top.alt-icon-color
            i.icon-chat
          h4.alt-title 技术支持
          p 完善的技术服务体系，我们保证产品质量的同时，为客户提供一站式产品服务，帮助客户做好TPU薄膜产品。
