extend layout/main

block tdk
  -
    var tdk = {
      title: '公司介绍 - 纳科达',
      description: '纳科达介绍, TPU聚氨酯薄膜生产厂家，TPU隐形车衣生产厂家，TPU漆面保护膜生产厂家',
      keywords: '纳科达介绍'
    }

block content
  //  Page Intro 
  section#inner-intro.inner-intro.bg-image.overlay-dark40.dark-bg.parallax.parallax-background2(data-background-img='/img/full/notice-01.jpg')
    .container
      .intro-content
        .intro-content-inner
          h1 公告
          h5.alt-title.intro-sub-title Notice
  //  End Page Intro 

  //  About Section 
  section#about.section-padding
    .container
      .row
        .col-md-12.content-box.mb-sm-45
          h2.alt-title 南通纳科达聚氨酯科技有限公司1750L热塑性聚氨酯膜及1750L
          h3.alt-title 窗膜涂布机生产线技术改造项目第一次信息公开
      .row
        .col-md-8.content-box.mb-sm-45
          p 根据《中华人民共和国环境影响评价法》、《环境影响评价公众参与办法》（部令第4号）等相关规定，现进行“南通纳科达聚氨酯科技有限公司1750L热塑性聚氨酯膜及1750L窗膜涂布机生产线技术改造项目”的环境影响评价公众参与第一次公示，公示内容如下：
        .col-md-4

      .row
        .col-md-8.content-box.mb-sm-45
          h5 1、建设项目基本情况
          p 项目名称：1750L热塑性聚氨酯膜及1750L窗膜涂布机生产线技术改造项目
          p 建设地址：南通高新技术产业开发区碧华路898号3号和11号厂房
          p 项目概况：第一、引进1750L热塑性聚氨酯膜涂布机生产线一条；第二、引进1750L窗膜涂布机生产线一条。项目计划总投资人民币2001万元，折合美元309万，全部为引进设备。涂布生产原辅材料清单：热塑性聚氨酯和PET基膜、修复涂料、丙烯酸压敏胶、离型膜、保护膜、乙酸乙酯、丁酮、甲苯；涂布工 艺流程：计量和配液-涂布-复合收卷-包装入库。项目建成达产后，预计年产漆面保护膜200万米、窗膜约1200万米。 
        .col-md-4

      .row
        .col-md-8.content-box.mb-sm-45
          h5 2、建设单位名称及联系方式
          p 建设单位：南通纳科达聚氨酯科技有限公司
          p 联 系 人：王强
          p 联系方式：18862890086
          p 地    址：南通高新技术产业开发区金桥路999号
        .col-md-4

      .row
        .col-md-8.content-box.mb-sm-45
          h5 3、环境影响报告书编制单位名称及联系方式
          p 环评单位：苏州常卫环保科技有限公司
          p 联 系 人：王先生
          p 联系方式：13951323496
          p 电子邮箱：306544692@qq.com
          p 地    址：苏州高新区横塘宝带西路1099号3幢203室
        .col-md-4

      .row
        .col-md-8.content-box.mb-sm-45
          h5 4、公众意见表的网络链接
          p 若您对项目有什么意见和看法，可按照下方附件格式要求填写建设项目环境影响评价公众参与意见表，请填写与本项目环境影响和环境保护措施有关的建议和意见（注：根据《环境影响评价公众参与办法》规定，涉及征地拆迁、财产、就业等与项目环评无关的意见或者诉求不属于项目环评公参内容）。
        .col-md-4

      .row
        .col-md-8.content-box.mb-sm-45
          h5 5、公众提出意见的主要方式
          p 公众可通过邮寄或电子邮件等方式向建设单位或环评单位提交公众意见表。公众在发表意见时，请尽量注明日期、您的真实姓名和联系方式，以便根据需要向您反馈。(不接受与环境保护无关的问题)
        .col-md-4

      .row
        .col-md-8.content-box.mb-sm-45.text-right
          p 南通纳科达聚氨酯科技有限公司
          p 2021年9月9日
        .col-md-4

      .row
        .col-md-8.content-box.mb-sm-45
          a(href="/建设项目环境影响评价公众意见表.docx") 附件1：建设项目环境影响评价公众意见表
        .col-md-4
          
  //  End About Section 

  
  section.text-center.gray-bg
    img.img-fluid(src="/img/full/about-02.jpg")
