@function px-color-yiq($color, $dark: $px-yiq-text-dark, $light: $px-yiq-text-light) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($yiq >= $px-yiq-contrasted-threshold) {
    @return $dark;
  } @else {
    @return $light;
  }
}