extend ../layout/main

block content
  //  Page Intro 
  section#inner-intro.inner-intro.bg-image.overlay-dark40.dark-bg.parallax.parallax-background2(data-background-img='/img/full/product-01.jpg')
    .container
      .intro-content
        .intro-content-inner
          h1 MIT系列
          h4.alt-title.intro-sub-title 漆面保护膜
  //  End Page Intro 

  //  About Section 
  section.section-padding
    .container
      .row
        .col-md-8.content-box.mb-sm-45
          h3 产品简介

          p 汽车漆面膜，为追求品质的车主量身打造!
          p 全新一代透明TPU基材，呈现优秀的抗冲击性能以及耐黄变性能，为您抵御行车途中沙石飞溅。记忆修复涂料，恢复细小划痕，爽滑手感，抗污性能优良。使用光学级压敏胶，遮盖爱车原有微划痕，移除不留残胶。
          //- p 崭新的材质组合拥有很高的通透性，增加亮度，镜面效果使爱车历久弥新。安心使用，封存原厂车漆。
    
  section.section-padding.pt-0
    .container
      h3 产品参数
      
      h3.text-warning MIT93-7
      table.table
        thead.thead-light
          tr
            th(scope='col') 厚度
            th(scope='col') 拉伸强度
            th(scope='col') 初粘力
            th(scope='col') 持黏力
            th(scope='col') 60°角光泽度
            th(scope='col') 各项耐老化测试
            th(scope='col') SEA J400碎石测试
        tbody
          tr
            td 8mil
            td 26.03Mpa
            td 700g/m2
            td 2000g/m2
            td >90
            td 无影响
            td 通过

      h3.text-warning MIT93-7-260 
      table.table
        thead.thead-light
          tr
            th(scope='col') 厚度
            th(scope='col') 拉伸强度
            th(scope='col') 初粘力
            th(scope='col') 持黏力
            th(scope='col') 60°角光泽度
            th(scope='col') 各项耐老化测试
            th(scope='col') SEA J400碎石测试
        tbody
          tr
            td 10mil
            td 26.03Mpa
            td 700g/m2
            td 2000g/m2
            td >90
            td 无影响
            td 通过

      h3.text-warning MIT93-7-200 
      table.table
        thead.thead-light
          tr
            th(scope='col') 厚度
            th(scope='col') 拉伸强度
            th(scope='col') 初粘力
            th(scope='col') 持黏力
            th(scope='col') 60°角光泽度
            th(scope='col') 各项耐老化测试
            th(scope='col') SEA J400碎石测试
        tbody
          tr
            td 12mil
            td 26.03Mpa
            td 700g/m2
            td 2000g/m2
            td >90
            td 无影响
            td 通过

  //- section.section-padding
  //-   .container
  //-     .row
  //-       .col-md-8.content-box.mb-sm-45
  //-         h4.alt-title 产品简介

  //-         p 漆面膜市场中，独创的顶级产品，为追求奢侈品质的高端车主量身打造。全新一代超透TPU基材，呈现卓越的抗冲击性能以及耐黄变性能，为您抵御行车途中沙石飞溅。独特记忆修复涂料，迅速恢复细小划痕，创新配方带来爽滑手感，抗污性能十分显著。使用光学级压敏胶，遮盖爱车原有微划痕，移除不留残胶。
  //-         p 崭新的材质组合拥有极高的通透性，大幅提升亮度，完美的镜面效果使爱车历久弥新。安心无忧使用，完美封存原厂车漆。

  //-       .col-md-4.content-box.mb-sm-45
  //-         h4.alt-title 产品规格

  //-         p 规格：1.52x15m
  //-         p 基础膜：150um 进口顶级TPU原料
  //-         p 压敏胶：美国 亚什兰
  //-         p 表面涂层：耐污疏水修复涂层

  //-     .row
  //-       .col-md-8.content-box.mb-sm-45
  //-         h4.alt-title 外观性能指标

  //-         table.table.table-bordered
  //-           tr
  //-             th 品名
  //-             th(colspan='2') 漆面保护膜
  //-           tr
  //-             th 用途
  //-             td(colspan='2') 汽车漆面防护
  //-           tr
  //-             th 型号
  //-             td 数据
  //-             td 测试方法
  //-           tr
  //-             th 保护膜贴合气泡
  //-             td 视觉不可见
  //-             td 目测
  //-           tr
  //-             th 保护膜贴合脏点
  //-             td 视觉不可见
  //-             td 目测
            
  //-           tr
  //-             th 晶点、凹凸点
  //-             td
  //-               .row
  //-                 .col-6 0.7-2.9mm
  //-                 .col-6 小于20粒
  //-               .row
  //-                 .col-6 ≥3.0mm
  //-                 .col-6 允许1粒

  //-             td 目测

  //-           tr
  //-             th 涂层膜面发雾
  //-             td 视觉不可见
  //-             td 目测

  //-           tr
  //-             th 胶面线条
  //-             td 视觉不可见
  //-             td 目测

  //-       .col-md-4.content-box.mb-sm-45
  //-         h4.alt-title 测试方法说明

  //-         p
  //-           b 膜面发雾: 
  //-           | 去除保护膜后，自然视觉检视样品表面。

  //-         p
  //-           b 晶点、凹凸点: 
  //-           | 以抽样晶点、凹凸点最密集区域为衡量区域，以12.7cm*12.7cm为计数区间进行大小及数量评价。 


  //-     .row
  //-       .col-md-8.content-box.mb-sm-45
  //-         h4.alt-title 物理性能指标

  //-     .row
  //-       .col-md-8.content-box.mb-sm-45
  //-         h4.alt-title 特性指标
